<span class=cze>
    Email ohledne {$name} (neboli {$abbr}) nalzenete
    ho <a n:href="Projects:default">zde</a>.
    {* <a n:href="Proposals:view $id">zde</a> *}
</span>
<span class=eng>
    This email is about {$name} (aka {$abbr}) which can
    be found <a n:href="Projects:default">here</a>.
</span>