{block content}
    <div class="container">
        <h1>{_page.projects.title}</h1>
        {* TODO filter form for projects *}

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{_page.projects.table.abbr}</th>
                        <th>{_page.projects.table.stateFrom}</th>
                        <th>{_page.projects.table.state}</th>
                        <th>{_page.projects.table.supervisor}</th>
                        <th>{_page.projects.table.name}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $projects as $project}
                        <tr>
                            <td><a href="{link Project:show $project->getId()}">{$project->getShortName()}</a></td>
                            <td>{* TODO from state history *}</td>
                            <td>{$project->getState()}</td>
                            {*
                            <td>{var $supervisor = $project->getSupervisorOnProject()}
                                {if $supervisor}{$supervisor->getUser()->getName()}{/if}
                            </td>
                            *}
                            <td>{$project->getName()}</td>
                        </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <h2>{_page.projects.addNew}</h2>

                {control newProjectForm}
            </div>
        </div>
    </div>
{/block}


{block css}
    <link rel="stylesheet" href="{$basePath}/bower_components/selectize/dist/css/selectize.bootstrap3.css">
{/block}

{block scripts}
    <script src="{$basePath}/bower_components/selectize/dist/js/standalone/selectize.js"></script>
    <script src="{$basePath}/bower_components/selectize-for-nette/client-side/selectize.js"></script>
    <script>
        $(function () {
            selectize();
        });
    </script>
{/block}