{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{ifset title}{include title|stripHtml} | {/ifset} PRKNO</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">


    {ifset head}{include head}{/ifset}

    <link rel="shortcut icon" type="image/x-icon" href="{$basePath}/img/favicon.ico"/>
    
    <link rel="stylesheet" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/css/layout.css">

	{ifset css}{include css}{/ifset}
</head>
<body>
    <div class="container-fluid">
        <h1 id="header">{_page.layout.header}</h1>
    </div>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav" n:inner-foreach="$menuItems as $item">
				<li {ifCurrent $item['link']}class="active"{/ifCurrent}>
					<a n:href="$item['link']">{_ "page.layout.menu.link." . $item['name']}</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
                {* language switch *}
                <li>
                    {if $isLocaleCs}
                        <a href="{link default locale => en}" title="to English">EN</a>
                    {else}
                        <a href="{link default locale => cs}" title="to Czech">CS</a>
                    {/if}
                </li>

                {* login/logout *}
                {if $user->isLoggedIn()}
                    <li>
                        <a href="javascript: void(0)">{$userName}</a>
                    </li>
                    <li>
                        {if $usesCAS}
                            <a id="link-signout" n:href="Homepage:casLogoutRedirect">{_page.layout.menu.link.signout}</a>
                        {else}
                            <a id="link-signout" n:href="signinControl:out!">{_page.layout.menu.link.signout}</a>
                        {/if}
                    </li>
                {else}
                    <li>
                        <a id="link-cas-redirect" n:href="Homepage:casLoginRedirect" title="{_page.layout.menu.viaCas}">
                            {_page.layout.menu.link.signin}
                        </a>
                    </li>
                    <li>
                        <a id="link-show-singin" href="javascript: void(0)" title="{_page.layout.menu.viaEmail}">
                            {* this href is the best way to disable a link *}
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </a>
                    </li>
                {/if}
			</ul>
		</div>
	</nav>

    {* drop down login form *}
    {if !$user->isLoggedIn()}
        <div id="signin" style="display: none">
            <div class="container">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <div class="well">
                            {control signinControl}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    {/if}

    {* flash messages *}
    <div class="container">
        <div id="flashes">
            <div n:foreach="$flashes as $flash" class="alert alert-dismissable flash alert-{$flash->type}">
                {$flash->message}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
        </div>
    </div>





	{include content}



    <script src="{$basePath}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{$basePath}/bower_components/markdown/lib/markdown.js"></script>
    <script src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{$basePath}/bower_components/nette-forms/index.js"></script>

    {* //for passing PHP values to JS use <scripty type=text/json> ... *}

    <script src="{$basePath}/js/layout.js"></script>

    {ifset scripts}{include scripts}{/ifset}
</body>
</html>