{block css}
	<link rel="stylesheet" href="{$basePath}/css/homepage.css">
{/block}

{block head}
    <meta name="description" content="{_page.homepage.description}"/>
    <meta name="keywords" content="{_page.homepage.keywords}">
{/block}

{block content}
	<div class="container">
		{if $canNewsCreate}
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">{control addNews}</div>
                <div class="col-lg-3"></div>
            </div>
		{/if}

		<h2>{_page.homepage.news.title}</h2>
		{foreach $news as $newsArticle}
            <div class="panel news {$newsArticle['class']}">
                <div class="panel-heading">
                    <strong class="panel-title">{$newsArticle['title']}</strong> <span class="news-date">{$newsArticle['updated']}</span>
                </div>
                <div class="panel-body markdown">{$newsArticle['content']}</div>
            </div>
		{/foreach}
	</div>
{/block}

