{block content}
    <div class="container">
        <h1>{_page.project.project}: {$project->getName()}</h1>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <label for="name">{_page.project.name}:</label>
                        {$project->getName()}
                    </li>
                    <li class="list-group-item">
                        <label for="abbr">{_page.project.abbr}:</label> {$project->getShortName()}
                    </li>
                    <li class="list-group-item">
                        <label for="state">{_page.project.state}:</label> {$project->getState()}
                    </li>
                    <li class="list-group-item">
                        <label for="supervisor">{_page.project.supervisor}:</label>
                        {if $supervisor}{$supervisor->getUser()->getName()}{/if}
                    </li>
                    <li class="list-group-item">
                        <label for="consultants">{_page.project.consultants}:</label>
                        {foreach  $consultants as $person}
                            {$person->getUser()->getName()}
                        {/foreach}
                    </li>
                    <li class="list-group-item">
                        <label for="students">{_page.project.students}:</label>
                        {foreach  $students as $person}
                            {$person->getUser()->getName()}
                        {/foreach}
                    </li>
                    <li class="list-group-item">
                        <label for="description">{_page.project.description}:</label>
                        <div class="well well-sm">{$project->getDescription()}</div>
                    </li>
                    <li class="list-group-item">
                        <label for="proposal">{_page.project.proposal}:</label> LINK
                    </li>
                </ul>
            </div>
        </div>

    </div>
{/block}