{block content}
    <h1>Error codes</h1>
    <ol>
        <li>
            <span class="error-code">1</span>
            <p class="cause">
                98% pravděpodobností email blokuje zombie uživatel (je v DB s flagem deleted=true)
                <br>2% probability - a bug
            </p>
        </li>
        <li>
            <span class="error-code">2</span>
            <p class="cause">
                80% probability - a manual user gained CAS assess and logged in via CAS, which he SHOULD NOT DO
                <br>10% probability - a manual user stole the email from a future cas user
                <br>7% probability - a deleted user is blocking the email
                <br>3% probability - a bug'
            </p>
        </li>
    </ol>
{/block}