{block content}
    <h2>{$page->getTitle($isLocaleCs)}</h2>
    <div class="markdown" style="border: 1px solid #888">{$page->getContent($isLocaleCs)}</div>
    <br>
    TODO: display all version of the document with date of creation or update
{/block}