{form signinForm}
    <div n:foreach="$form->errors as $error" class="alert alert-dismissable flash alert-danger">
        {$error} <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>


    <div class="form-group">
        <label n:name="email">{_control.signin.form.email}:</label>
        <input n:name="email" class="form-control input-sm"/>
    </div>
    <div class="form-group">
        <label n:name="password">{_control.signin.form.password}:</label>
        <input n:name="password" class="form-control input-sm"/>
    </div>
    {*
     <div class="form-group">
        <div class="checkbox">
            <label n:name="keep">
                <input n:name="keep" type="checkbox">
                {_control.signin.keep}
            </label>
        </div>
    </div>
    *}
    <input n:name="login" class="btn btn-default"/>
{/form}
