{block content}
	TODO: form for adding static page
	<br>

    <h1>{_page.documents.title}</h1>
    {foreach $pages as $pageVersion}
		<div>
			<div><a href="{link StaticPage:default $pageVersion->getId()}">{$pageVersion->getTitle($isLocaleCs)}</a></div>
		</div>
	{/foreach}

	<br>
	TODO: group by pageID, display in order an only the most recent by the date of creation
{/block}