#signin {
    margin-top: 0;
    padding-bottom: 1em;
}

a#link-cas-redirect {
    padding-right: 0.3em;
}
a#link-show-singin {
    padding-left: 0;
    padding-right: 5em;
}

a#link-show-singin > .glyphicon {
    font-size: 10px;
    color: #9fdf9f;
}
a#link-show-singin>.glyphicon:hover {
    transform: scale(1.4) translate(0, 0.3px);
}

a#link-signout {
    padding-right: 5em;
}

#header {
    padding-left: 4em;
    color: #8c8c8c;
    font-size: 1em;
    font-weight: 100;
}




form.form-horizontal textarea.form-control {
    /* This selector is meant to apply only to forms created via FormFactory */
    overflow-y: hidden;
    overflow-x: hidden;
}